@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
$primary-color: hsl(257, 40%, 49%);
$heading-font: "Poppins", sans-serif;
$body-font: "Open Sans", sans-serif;

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(257, 40%, 49%);
  text-align: center;
  color: white;
  background-image: url(../images/bg-mobile.svg);
  background-size: 100% 50%;
  background-repeat: no-repeat;
  @media only screen and (min-width: 768px) {
    background-image: url(../images/bg-desktop.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

.header {
  display: flex;
  width: 100%;
  height: auto;
  padding: 20px 40px;
  img {
    height: 40px;
  }

  @media only screen and (min-width: 768px) {
    padding: 40px 60px 60px 60px;

    img {
      height: 55px;
    }
  }
}

.middle {
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 100%;
    margin-bottom: 60px;
  }

  h1 {
    font-family: $heading-font;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  p {
    font-family: $body-font;
    font-size: 18px;
    margin-bottom: 30px;
  }

  .btn {
    width: 70%;
    background-color: white;
    color: $primary-color;
    font-size: 16px;
    padding: 15px 0px;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
    &:hover {
      box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.5);
    }
  }

  margin-bottom: 40px;
  @media only screen and (min-width: 768px) {
    flex-direction: row;
    padding: 20px 60px;
    padding-top: 0;
    text-align: left;
    margin: 0;
    img {
      margin: 0;
      width: 200%;
      margin-right: 40px;
    }

    h1 {
      font-size: 34px;
    }

    .btn {
      width: 40%;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  .icon {
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
    border: 1px solid #fff;
    border-radius: 50%;
  }

  .fb {
    padding: 10px 12px;
  }

  @media only screen and (min-width: 768px) {
    padding: 0 60px;
    justify-content: end;
  }
}
